
openapi: 3.1.0
info:
  title: Brighter Websites Content API
  version: 1.0.0
  description: Access structured content from Brighter Websites for Custom GPT integration
  contact:
    name: Brighter Websites Support
    email: support@brighterwebsites.com.au

servers:
  - url: https://bnm.bweb1.com.au/wp-json/brighter-core/v1    description: Production API

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Brighter-Token
      description: API token for authentication

  schemas:
    SimpleItem:
      type: object
      description: Minimal item structure (Phase 1) - consistent across all endpoints
      properties:
        id:
          type: integer
          description: Post/Page ID
        title:
          type: string
          description: Post/Page title
        excerpt:
          type: string
          description: Excerpt (auto-generated if empty, max 200 chars)
        url:
          type: string
          format: uri
          description: Full URL to the post/page
        status:
          type: string
          enum: ['publish', 'draft', 'private', 'pending', 'future', 'trash']
          description: Post status
      required:
        - id
        - title
        - excerpt
        - url
        - status
      additionalProperties: false

    Pagination:
      type: object
      properties:
        total:
          type: integer
        total_pages:
          type: integer
        current_page:
          type: integer
        per_page:
          type: integer
        has_more:
          type: boolean
      required:
        - total
        - total_pages
        - current_page
        - per_page
        - has_more
      additionalProperties: false

    SimpleListResponse:
      type: object
      description: Standard response structure for all endpoints (Phase 1) - consistent across posts, pages, and FAQs
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SimpleItem'
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
        - items
        - pagination
      additionalProperties: false

    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        data:
          type: object
          additionalProperties: true
      required:
        - code
        - message
      additionalProperties: false

paths:
  /posts:
    get:
      operationId: getBlogPosts
      summary: Get blog posts
      description: Retrieve paginated blog posts with full content and metadata
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 10
        - name: status
          in: query
          schema:
            type: string
            enum: ['publish', 'draft', 'any']
            default: 'publish'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /faqs:
    get:
      operationId: getFAQs
      summary: Get FAQ items
      description: Retrieve paginated FAQ items with full content and metadata
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 10
        - name: status
          in: query
          schema:
            type: string
            enum: ['publish', 'draft', 'any']
            default: 'publish'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /pages:
    get:
      operationId: getPages
      summary: Get configured service pages
      description: Retrieve pages configured in API settings
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        